<% @events.each do |event| %>
  <tr>
    <td><%= event.event %></td>
    <td><%= event.package %></td>
    <td><%= event.capacity %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>