<p id="notice"><%= notice %></p>

<h1>Events</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Package</th>
      <th>Capacity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="hits">
    <%= render partial: 'event_row', locals: { events: @events } %>
  </tbody>
</table>

<br>

<div id="infinite-scrolling">
  <%= will_paginate %>
</div>

<%= link_to 'New Event', new_event_path %>
