console.log('<%= @events.class %>')
$('#hits').append('<%= j render partial: 'event_row', locals: { events: @events } %>');
<% if @events.next_page %>
  $('.pagination').replaceWith('<%= j will_paginate %>');
<% else %>
  $(window).off('scroll');
  $('.pagination').remove();
<% end %>